#gitignore
lib/
native/
src/AIManager.class
src/AITest$1.class
src/AITest$_AITestCollider.class
src/AITest$_AITestPhysics.class
src/AITest.class
src/Asteroid$1.class
src/Asteroid$_AsteroidCollider.class
src/Asteroid$_AsteroidPhysics.class
src/Asteroid.class
src/DebrisManager.class
src/GraphicalImage.class
src/Launch.class
src/PlayerShip$1.class
src/PlayerShip$_PlayerCollider.class
src/PlayerShip$_PlayerShipPhysics.class
src/PlayerShip.class
src/StellarGame.class
src/StellarObject.class
src/World.class
