+#################
+## Eclipse
+#################
+
+*.pydevproject
+.project
+.metadata
+bin/
+tmp/
+*.tmp
+*.bak
+*.swp
+*~.nib
+local.properties
+.classpath
+.settings/
+.loadpath
+
+#####################################
+## Hide Java .class and .jar files
+#####################################
+
+*.class
+*.jar
+
+#####################################
+## Hide .dll, .dylib, .so files
+#####################################
+
+*.dll
+*.dylib
+*.so

